
<div class="container">

    
    <div class="row">
        <div class="col-md-9">
            <h2>My Quotes</h2>
            
                <div  class="container yes" *ngFor='let quote of quotes;let i = index'>
                    
                    <style>
                        button{
                            background-color: greenyellow;
                        }
                        .yes{
                            background-color: aliceblue;
                            border: salmon;
                            border-style: solid;
                            border-color: red;
                            
                        }
                        h6{
                            color: brown;
                        }

                    </style>
                    <h6><style>
                    </style> {{quote.statement}}</h6>
                    <div class="row">
                        <div class="col-md-3">
                            <button (click)='up(i)'>Upvote</button>
                        </div>
                        <div class="col-md-3" (click)='down(i)'><button>Downvote</button></div>

                    </div>
                    <div class="row">
                        <div class="col-md-3"  >{{quote.upvotes}} upvotes</div>
                        <div class="col-md-3" >{{quote.downvotes}} downvotes</div>
                    </div>
                    <button (click)='toggleDetails(i)'>show details</button>
                    <br><br><br>
                    <app-quote-details *ngIf="quote.showDetails" [quote]='quote' (isComplete) = 'deleteQuote($event,i)'></app-quote-details>
                    <br><br>
                    <br>
                </div>
                <br>
                <br><br><br><br>

            
        </div>

        <div class="col-md-3">
            <app-quote-form  (addQuote)="addNewQuote($event)" ></app-quote-form>
            
        </div>
    </div>

</div>
